ros-humble-ament-cmake
ros-humble-rclcpp
ros-humble-std-msgs
ros-humble-rcl-interfaces
ros-humble-ros-gz-*
ros-humble-ros2-control
ros-humble-ign-ros2-control*
ros-humble-moveit*
ros-humble-ros2-controllers
ros-humble-moveit-ros-planning-interface
ros-humble-rosidl-default-generators
ros-humble-rosidl-default-runtime
ros-humble-urdf
ros-humble-xacro
ros-humble-robot-state-publisher
ros-humble-joint-state-publisher-gui
ros-humble-rviz2
ros-humble-ros2launch
ros-humble-*-ros2-control
ros-humble-ros-gz-sim
ros-humble-ros-gz-bridge
ros-humble-ign-ros2-control
ros-humble-tf-transformations
ros-humble-trajectory-msgs
ros-humble-sensor-msgs
ros-humble-ament-cmake-python
ros-humble-pluginlib
libserial-dev
